.sectionWrapper {
  background-color: #000000e0; /* warna gelap khas Netflix */
  padding: 0.5rem 0rem; /* padding atas bawah lebih besar */
  border-radius: 0.75rem; /* rounded lebih lembut */
  border: none; /* Netflix cenderung tidak pakai border */
  display: flex;
  flex-direction: column;
  gap: 0rem; /* sedikit lebih longgar antar elemen */
  width: 100%;
  max-width: 100%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); /* sedikit glow */
}

.sectionWrapperChildren {
  padding: 0 1rem; /* padding kiri-kanan rata */
}
