.genreContainer {
  margin-bottom: 2rem;
}

.genreTitleWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.genreTitle {
  font-size: 1.125rem;
  font-weight: 500;
  color: rgb(248, 249, 250);
}

.viewAllButton {
  background-color: #e50914;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.viewAllButton:hover {
  background-color: #b0060f;
}

.viewAllButton:active {
  transform: scale(0.98);
}
