.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: rgb(12, 11, 11);
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* Menjaga konten tetap terpusat secara vertikal */
  align-items: center; /* Menjaga konten tetap terpusat secara horizontal */
  padding: 0px; /* Menambahkan sedikit padding kiri dan kanan */
}

.main {
  flex: 0; 
  display: flex;
  flex-direction: column;
  max-width: 1400px; /* Membatasi lebar konten supaya tidak melar */
  max-height: 100%; /* Membatasi tinggi konten supaya tidak melar */
  width: 100%; /* Konten akan mengisi seluruh lebar yang tersedia */
  box-sizing: border-box; /* Menjaga padding dan margin tidak mengganggu layout */
  padding: 0rem; /* Menambahkan sedikit padding di dalam konten */
  display: flex; /* Menjaga isi konten tetap terpusat */
  align-items: center; /* Menjaga isi konten tetap terpusat */
  /* gap: 1rem; */
}

/* Hide scrollbar but keep functionality */
/* html {
  scrollbar-width: none; Firefox
  -ms-overflow-style: none; IE/Edge
} */
/* html::-webkit-scrollbar {
  display: none; Chrome/Safari/Opera
} */

/* body {
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none; 
} */
body::-webkit-scrollbar {
  width: 0 !important; /* Safari and Chrome */
}

