.auth {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: auto; /* Ruang sisi layar di HP */
  box-sizing: border-box;
  background-image: url(../../public/auth/bg.png);
  background-size: cover;
  background-position: center;
}

.formContainer {
  width: 100%;
  justify-content: center;
  max-width: 550px;
  min-height: 580px;
  padding: 40px 24px 40px; /* atas, kiri/kanan, bawah */
  border-radius: 20px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.75);
}

