.sectionTitle {
  font-size: 1.25rem; /* Sesuai dengan penataan title */
  font-weight: 600; /* Sama dengan font-semibold */
}

.actionsWrapper {
  display: flex;
  gap: 0.25rem; /* Mengurangi jarak antar tombol */
}

.buttonSmall {
  padding: 0.25rem 0.5rem; /* Padding lebih kecil */
  font-size: 0.875rem; /* Ukuran font lebih kecil */
}

.contentWrapper {
  background-color: #00000023;
  border-radius: 0.375rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(0.75rem, 1vw, 0.875rem);
  color: #ffffff;

  /* Responsif */
  min-height: clamp(12rem, 30vw, 22rem); /* tinggi minimum adaptif */
  width: 100%; /* Biar fleksibel */
  box-sizing: border-box;
}
