.ViewAllButton {
  font-size: 0.6rem; /* Ukuran teks mirip dengan gaya Netflix */
  justify-items: center;
  width: 50px; /* Lebar tombol */
  height: 30px; /* Tinggi tombol */
  border-radius: 5px; /* Sudut tombol agak melengkung seperti tombol Netflix */
  background-color: #e50914; /* Warna merah khas Netflix */
  color: #fff; /* Warna teks putih */
  font-weight: bold; /* Teks tebal untuk penekanan */
  border: none; /* Tidak ada border untuk mencocokkan gaya tombol Netflix yang bersih */
  cursor: pointer; /* Kursor pointer saat hover */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Efek transisi halus untuk hover */
}

.ViewAllButton:hover {
  background-color: #f40612; /* Merah sedikit lebih gelap saat hover */
  transform: scale(1.05); /* Efek perbesaran sedikit untuk umpan balik interaksi */
}

.ViewAllButton:focus {
  outline: none; /* Menghapus outline default saat fokus */
}
